/* RESET CSS */
/* -------------------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
}

/* GLOBAL STYLES */
/* -------------------------------------------------------- */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a {
    color: #fff;
    text-decoration: none;
}

/* HEADER STYLES */
/* -------------------------------------------------------- */
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    top: 2.6rem;
    left: 0.6rem;
    z-index: 1;
}

.dropdown-content p {
    padding: 12px 16px;
    color: #000;
    display: block;
    border-bottom: #000 solid 1px;
}

.dropdown p:hover {
    background-color: #ddd;
}

.input {
    width: 500px;
}

/* HERO SECTION */
/* -------------------------------------------------------- */
.hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        url(../images/pexels-spencer-davis-4393021.jpg);
    background-size: cover;
    background-position: center;
    padding: 4rem 0;
    color: #fff;
}

/* MEALS PAGE STYLES */
/* -------------------------------------------------------- */
#meals-page {
    justify-content: center;
}

#meals-page div {
    background-color: #f4f4f4;
    margin: 1rem;
}

#meals-page div img {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
}

.vertical-center {
    align-items: center;
}

.display-flex {
    display: flex;
}

#cookingInstructions {
    font-size: 8px;
}

/* RECIPE STYLES */
/* -------------------------------------------------------- */
.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}

#recipe-page div aside {
    background-color: #f4f4f4;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

/* INGREDIENTS STYLE */
/* -------------------------------------------------------- */
#recipe-page div aside img {
    height: 200px;
    width: 200px;
}

#recipe-page div aside {
    align-items: center;
}

/* CLICKABLE ELEMENTS */
/* -------------------------------------------------------- */
.clickable:hover {
    cursor: pointer;
}

/* FOOTER */
/* -------------------------------------------------------- */
footer {
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    align-items: center;
    color: #fff;
}

#secondFooter {
    position: fixed;
}

.bg-md {
    background-color: #f4f4f4;
}

/* RESPONSIVE STYLES */
/* -------------------------------------------------------- */
@media screen and (max-width: 720px) {
    #search-button {
        width: auto;
    }

    #search-input {
        width: auto;
    }

    #cookingInstructions {
        font-size: 8px;
    }
}

@media screen and (max-width: 450px) {
    header img {
        width: 50px;
        height: 50px;
    }

    #search-input {
        width: 175px;
        height: 30px;
    }
}

@media screen and (max-width: 1000px) {
    footer {
        display: flex;
    }
}

@media screen and (max-width: 800px) {
    #meals-page div img {
        height: 200px;
        width: 200px;
    }

    #meals-page h4 {
        font-size: 14px;
    }
}

/* MISC */
/* -------------------------------------------------------- */
.hide {
    display: none;
}
